.menu-overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: $black;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.menu-nav-toggle {
  line-height: 0;
  cursor: pointer;
  outline: none;
  color: $light-grey;
}

.dialog#menu {
  max-width: 640px;
  max-height: 440px;
  width: 100%;
  color: $black;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  h1 {
    text-align: center;
    padding: 0.5rem;
  }
  li {
    padding: 1rem 0.5rem;
  }
}

.dialog {
  visibility: hidden;
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.95);
  padding: 1rem;
  border-radius: 0.2rem;
}

.dialog--is-shown {
  visibility: visible;
}
