<!doctype html>
<html lang="en-us" class="no-js">
<head>

  <script>
  window.prerenderReady = false;
  window.timerStart = new Date();
  </script>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="medium" content="website">
  <base href="/">

  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.gstatic.com">

  <title ng-bind="state.pageTitle">Davinc</title>
  <link rel="shortcut icon" href="favicon.ico">

  <script type="text/javascript" src="/js/lib/jquery.min.js"></script>

  <script type="text/javascript" src="/js/lib/js.ext.js"></script>
  <script type="text/javascript" src="/js/lib/js.ext.dom.js"></script>

  <script type="text/javascript" src="/js/lib/Module.js"></script>
  <script async type="text/javascript" src="/js/lib/WacomInkEngine.js"></script>

  <script type="text/javascript" src='/js/lib/requestAnimationFrame.js'></script>
  <script type="text/javascript" src="/js/lib/modernizr-custom.js"></script>

  <script type="text/javascript" src="/js/Part1.js"></script>

  <style type="text/css">
    body {position: relative; overflow: hidden; margin: 0; padding: 0; background-color: #252525; color: white;}
    canvas {border: 0px none;}
    h2, p {margin-left: 20px;}
  </style>

</head>

<body>

  <canvas id="canvas" oncontextmenu="WILL.clear(); event.preventDefault();"></canvas>



  <!-- build:js /js/app.min.js -->

  <!-- endbuild -->


</body>

</html>

