/.tmp

/dist
/main
/node_modules
/bower_components
/bin
/ref
/pdf
/public/pdf/*
*.pdf
/text
/static

/public/.DS_Store
/public/upload/img/.DS_Store
/public/upload/shoe/.DS_Store
/public/upload/img/
.DS_Store
.bin
.sass-cache
.bowerrc
.jsbeautifyrc


gin-bin
main
bin
indexdist.html
admindist.html
lib.min.js
lib.css
lib.admin.min.js
lib.admin.css
ikouadmin.css
*app.min.js
ikou.css
*.ikou.css
*.lib.css
*.ikouadmin.css
*.lib.admin.min.js
*.lib.min.js
*all.ikou.css
/public/app/template.js
/public/image/barcode/*
/public/upload/img/*
